.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;

  padding: 48px 40px;

  background: var(--body-color-main);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(100%);
  transition-property: transform;
  @include animation;

  &.is-open {
    transform: translateX(0);
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

//мобильное меню

.mobile-menu__close_button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: var(--title-color);
  transition-property: fill;
  @include animation;

  &-icon {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    fill: var(--acent-color);
  }
}

//  навигация

.mobile-menu__nav {
  &-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &-link {
    @include font(40px, 47px, 500);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);

    transition-property: color;
    @include animation;

    &_current {
      color: var(--acent-color);
    }

    &:hover,
    &:focus {
      color: var(--acent-color);
    }
  }
}

// контакты

.mobile-menu__contact {
  margin-bottom: 64px;

  &-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &-link {
    @include font(24px, 28px, 500);
    letter-spacing: 0.02em;
    color: var(--main-color);

    transition-property: color;
    @include animation;

    &_accent {
      color: var(--acent-color);
      @media screen and (min-width: 480px) {
        @include font(34px, 40px, 500);
      }
    }

    &:hover,
    &:focus {
      color: var(--acent-color);
    }
  }
}

// соцсети

.mobile-menu__social {
  display: flex;

  &-item {
    margin-right: 10px;
    display: flex;

    &::before {
      content: '';
      display: block;
      width: 0px;
      height: 22px;

      border: 1px solid rgba(33, 33, 33, 0.2);
      //   transform: rotate(90deg);
      margin-right: 10px;
    }

    &:first-child::before {
      display: none;
    }
  }

  &-link {
    @include font(18px, 22px, 500);
    letter-spacing: 0.02em;
    color: var(--acent-color);
  }
}

//до479
@media screen and (max-width: 479px) {
  .mobile-menu__social {
    flex-wrap: wrap;
    padding-right: 20px;

    &-item {
      margin-bottom: 8px;

      &:first-child::before {
        display: block;
        margin-left: 20px;
      }
    }
  }
}

//до319

@media screen and (max-width: 319px) {
  .mobile-menu__contact-link {
    font-size: 22px;
  }

  .mobile-menu__social {
    flex-direction: column;

    &-item {
      &:first-child::before {
        margin-left: 0px;
      }
    }
  }
}
